
body {
    margin: 0;
    font-size: 16px;
    font-family: Verdana;
    background-image: url('img.jpg'); /* Replace 'img.jpg' with the correct filename */
    background-size: cover;
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    height: 80vh; /* Ensure the body takes up the full viewport height */
    color: red; /* Set text color to white for better visibility on a dark background */
}

h1 {
    text-align: center;
    padding: 50px;
    margin-top: 0px; /* Adjust the margin to center the heading vertically */
}
h2 {
    margin-top: 0px;
}


#message{
width: 100%;
font-size: 2em;
color: hotpink;
text-align: center;
position: absolute;
top:40px;
left: 0;
}
canvas{
	cursor: crosshair;
	display: block;
}